<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom_boostrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cryptotracker.css') }}">
    <title>Crypto Tracker</title>
</head>
<body class="bg-dark text-light">
    <div class="container">
      <h1 class="text-center">
        <a href="{{url_for('cryptocurrency.home')}}" class="brand-icon link-light text-decoration-none">Crypto Tracker</a>
      </h1>
      <nav class="nav justify-content-center fs-5 my-2 custom-nav">
        {% if current_user.is_authenticated %}
            <a class="nav-link {% if current_page == 'graphique' %}active{% endif %}" href="{{url_for('cryptocurrency.chart')}}"><i class="fa-solid fa-chart-line"></i></a>
            <a class="nav-link {% if current_page == 'add' %}active{% endif %}" href="{{url_for('cryptocurrency.add')}}"><i class="fa-solid fa-circle-plus"></i></a>
            <a class="nav-link {% if current_page == 'quick_add' %}active{% endif %}" href="{{url_for('cryptocurrency.quick_add')}}"><i class="fa-solid fa-plus"></i></a>
            <a class="nav-link {% if current_page == 'admin' %}active{% endif %}" href="{{url_for('cryptocurrency.manage')}}"><i class="fa-solid fa-pen-to-square"></i></a>
            <a class="nav-link" href="{{url_for('authentification.logout')}}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        {% else %}
            <a class="nav-link {% if current_page == 'signup' %}active{% endif %}" href="{{url_for('authentification.signup')}}"><i class="fa-solid fa-user-plus"></i></a>
            <a class="nav-link {% if current_page == 'login' %}active{% endif %}" href="{{url_for('authentification.login')}}"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
        {% endif %}
      </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show text-center" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %} 
          {% endif %}
        {% endwith %}
        {% block content %}
    
        {% endblock content %}
    </div>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script>
  var alertNode = document.querySelector('.alert')
  var bsAlert = new bootstrap.Alert(alertNode)
  setTimeout(function () {
    if (alertNode) {
      bsAlert.close();
    }
  }, 5000);
</script>
</body>
</html>