{% from "part/_formhelpers.html" import render_field %}

{% extends "base.html" %}

{% block content %}
<div class="row my-4">
    <div class="col-10 mx-auto">
        {% include 'part/basic_form.html' %}
    </div>
    <div class="col-10 mx-auto text-center mb-4">
        <a href="{{url_for('authentification.forgot')}}" class="text-success">Mot de passe oublié ?</a>
    </div>
    <div class="col-10 mx-auto text-center">
        <a href="{{url_for('authentification.signup')}}" class="btn btn-success text-light">Créer un compte</a>
    </div>
</div>
{% endblock content %}
