@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
.brand-icon{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bolder;
}
.nav.custom-nav .nav-link{
    color:#EFEFEF;
}

.nav.custom-nav .nav-link.active{
    color:#1fc36c;
}