{% from "part/_formhelpers.html" import render_field %}
<div class="row my-4">
    <div class="col-sm-12">
        <form method=post>
            {% for field in form %}
                {% if field.type != "BooleanField" %}
                    <div class="my-4">
                        {% if field.name == "password_new" %}
                        <p class="text-center">
                            <small class="text-white">
                                Pour le mot de passe utilisez au moins huit caractères avec des lettres (minuscule et masjucule), des chiffres et des symboles (@$!%*#?&+-;)
                            </small>
                        </p>
                        {% endif %}
                        {{ render_field(field,class_="form-control bg-black text-white") }}
                    </div>
                {% else %}
                    <div class="form-check form-switch mb-3">
                        {{ render_field(field,class_="form-check-input bg-success") }}
                        {{ field.label }}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="d-grid col-8 mx-auto gap-2">
                <input type="submit" 
                    name="submit_form"
                    value="{% if button_label %} {{button_label}} {% else %} Envoyer {% endif %}" 
                    class="btn btn-light">
                {% if back_link %}
                    <a href="{{url_for('cryptocurrency.manage')}}" class="btn btn-light">Retour</a>
                {% endif %}
            </div>
        </form>
    </div>
</div>
