{% from "part/_formhelpers.html" import render_field %}
<div class="row my-4">
    <div class="col-sm-12">
        <form method=post>
            <dl>
                {% for field in form %}
                    {% if field.type != "BooleanField" %}
                        <div class="my-4">
                            {{ render_field(field,class_="form-control bg-black text-white") }}
                        </div>
                    {% else %}
                        <div class="form-check form-switch mb-3">
                            {{ render_field(field,class_="form-check-input bg-success") }}
                            {{ field.label }}
                        </div>
                    {% endif %}
                {% endfor %}
            </dl>
            <div class="d-grid col-8 mx-auto gap-2">
                <input type="submit" 
                    name="submit_form"
                    value="{% if button_label %} {{button_label}} {% else %} Envoyer {% endif %}" 
                    class="btn btn-light">
                {% if back_link %}
                    <a href="{{url_for('cryptocurrency.manage')}}" class="btn btn-light">Retour</a>
                {% endif %}
            </div>
        </form>
    </div>
</div>
