{% from "part/_formhelpers.html" import render_field %}

{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-10 mx-auto">
        <h3 class="text-center">Suppresion de l'achats suivant :</h3>
        <div class="text-center">
            <p>Crypto monnaie : {{purchase.cryptocurrency.symbol}} <span class="small">({{purchase.cryptocurrency.name}})</span> </p>
            <p>Prix : {{purchase.price}} €</p>
            <p>Quantité :{{purchase.quantity}}</p>
            <p>le {{purchase.date.strftime('%d/%m/%Y à %H:%M')}}</p>
        </div>
        {% with back_link=True, button_label="Confirmer" %}
            {% include 'part/basic_form.html' %}
        {% endwith %}
    </div>
</div>
{% endblock content %}